---
import Layout from "../layouts/Layout.astro";
import BtnDescargaCV from "../components/BtnDescargaCV.astro";
import IconContact from "../components/IconContact.astro";
import Skills from "../components/Skills.astro";
import Certificate from "../components/Certificate.astro";
import Project from "../components/Project.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import IconFlechaArriba from "../components/IconFlechaArriba.astro";

import { IconBrandGithub, IconBrandLinkedin} from "@tabler/icons-vue";


---

<Layout
  title='Portfolio | Leonardo Daniel Cueto - Desarrollador y Programador Frontend +1 año de experiencia'
  description='Desarrollador Web Especializado en crear aplicaciones únicas'
>
  <main class="mx-16 px-6 pt-24 relative z-10">
    <section
      class='min-h-screen flex items-center py-20'
      id="About"
    >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-7 items-center">
      <div class="space-y-6">
        <h1 class="text-6xl font-bold mb-4">Hello, I'm Leonardo Cueto</h1>
        <p class="text-3xl mb-8 text-blue-500 dark:text-blue-400">
          Frontend Developer
        </p>
        <div class="mt-6">
          <p>
            I am enthusiastic and up-to-date with the latest trends and technologies. I adapt quickly to new environments and learn easily. Currently, I am finishing my career as a Programmer Analyst and I have completed numerous courses on frontend development. I am highly motivated to keep learning and growing professionally.
          </p>
        </div>
        <div
          class='flex justify-center items-center md:w-[600px] md:h-[48px] gap-8'
        >
          <BtnDescargaCV />
          <IconContact />
          <a
          class='hover:scale-110 transition-all '
          href='https://www.linkedin.com/in/leonardo-cueto/'
          target='_blank'
          rel='nopener noreferrer'
        >
        <IconBrandLinkedin color="#374151" size="50"/>
        </a>
          <a
            class='rounded-md hover:scale-110 transition-all bg-gray-700 dark:bg-gray-600 p-1 '
            href='https://github.com/leonardocueto'
            target='_blank'
            rel='nopener noreferrer'
          >
            <IconBrandGithub  color="white"
            size="30"/>
          </a>
         </div>
      </div>
      <div class="flex justify-center">
        <img
            src='/img/perfil.jpg'
            class='rounded-full size-56 lg:size-80 object-cover m-10'
            alt='Perfil'
          />
      </div>
    </div>
      </div>
      
    </section>

    <section
      class='flex flex-col gap-3 mt-34 mb-20 py-32'
      id='Skills'
    >
      <Skills />
     
    </section>
    <section id="Certificates" class="mb-12 py-32">
      <Certificate />
    </section>
    <section
      class='min-h-screen flex items-center
       my-20 py-20'
      id='Project'
    >
      <Project />
    </section>
    <section
      class='my-20 mt-20 pt-36'
      id='Contact'
    >
      <Contact />
    </section>
  </main>
  <Footer />

  <a
    href='#About'
    class='flex fixed bottom-20 right-16 hover:bg-gray-200/55 w-16 h-16 rounded-full justify-center items-center z-50'
  >
    <IconFlechaArriba />
  </a>
</Layout>

<style></style>
