

<a
  href="https://drive.google.com/uc?export=download&id=1W78f-td45vouv9vJptQaVBXjkHuKlhgQ"
  target="_blank"
  rel="noopener noreferrer"
  class="border py-1 px-2 md:border-2 rounded-full border-black hover:bg-gray-100 hover:shadow-md xs:px-2 xs:py-3 xs:h-10 xs:w-10 md:px-5 md:py-3 text-[7px] md:text-xs md:font-semibold text-center hover:scale-105 transition"

>
  Download CV
</a>
