---
import { IconDownload} from "@tabler/icons-vue";

IconDownload
---

<a
  href="https://drive.google.com/uc?export=download&id=1W78f-td45vouv9vJptQaVBXjkHuKlhgQ"
  target="_blank"
  rel="noopener noreferrer"
  class="rounded-md  bg-gray-700 hover:scale-105 transition p-2"

>
  <IconDownload size="25" color="white"/>
</a>
