---
import IconLinkedin from "./IconLinkedin.astro"
import IconMail from "./IconMail.astro"
---
<div class="flex flex-col items-center gap-16">
    <div class="flex flex-col items-center gap-3">
      <h4 class="text-gray-400">Get In Touch</h4>
      <h1 class="text-5xl text-center font-semibold">Contact</h1>
    </div>
    <div
      class="flex items-center justify-evenly border rounded-full w-[700px] h-20 overflow-hidden"
    >
      <a
        href="mailto:leonardo.cueto.trabajo@gmail.com"
        class="flex gap-3 items-center hover:bg-sky-100/70 py-6 px-10 cursor-pointer rounded-l-none transition-colors duration-300"
      >
        <IconMail className="size-6 md:size-9"/>
        <span class="text-xl">leonardo.cueto.trabajo@gmail.com</span>
      </a>
      <div>
        <a
          href="https://www.linkedin.com/in/leonardo-cueto/"
          target="_blank"
          rel="nopener noreferrer"
          class="flex items-center gap-3 cursor-pointer hover:bg-blue-200 py-6 px-16 rounded-r-none transition-colors duration-300"
        >
          <IconLinkedin className="size-6 md:size-9"/>
          <span class="text-xl">LinkedIn</span>
        </a>
      </div>
    </div>
  </div>