<footer class="flex flex-col items-center pt-40">
    <nav class="flex md:flex-row flex-col gap-x-10 items-center justify-center w-full opacity-70 ">
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#Skills">Skills</a>
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#Project">Project</a>
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#About">About</a>
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#Contact">Contact</a>
    </nav>
    <p class="py-10">Copyright &#169; 2024 Leonardo Daniel Cueto. All Rights Reserved.</p>
</footer>