<footer class="flex flex-col items-center pt-40">
    <nav class="flex md:flex-row flex-col gap-x-10 items-center justify-center w-full opacity-70 ">
        <a class="md:text-xl lg:text-2xl text-gray-600 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400 transition-all hover:cursor-pointer hover:scale-110" href="#Skills">Skills</a>
        <a class="md:text-xl lg:text-2xl text-gray-600 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400 transition-all hover:cursor-pointer hover:scale-110" href="#Certificates">Certificates</a>
        <a class="md:text-xl lg:text-2xl text-gray-600 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400 transition-all hover:cursor-pointer hover:scale-110" href="#Project">Project</a>
        <a class="md:text-xl lg:text-2xl text-gray-600 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400 transition-all hover:cursor-pointer hover:scale-110" href="#Contact">Contact</a>
    </nav>
    <p class="py-10 text-xs md:text-base">Copyright &#169; 2024 Leonardo Daniel Cueto. All Rights Reserved.</p>
</footer>