<header class="mx-auto py-20 px-5 w-full flex justify-between items-center h-40 flex-col md:flex-row" id="Home">
    <h1 class="md:text-2xl lg:text-3xl  text-center lg:text-start w-full">Leonardo Cueto</h1>
    <nav class="flex md:flex-row flex-col gap-x-10 items-center justify-center w-full opacity-70 ">
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#Skills">Skills</a>
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#Project">Project</a>
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#About">About</a>
        <a class="md:text-xl lg:text-2xl hover:text-sky-700" href="#Contact">Contact</a>
    </nav>
</header>