---
import { IconMail} from "@tabler/icons-vue";

---

<a
  class="rounded-md  bg-gray-700  hover:scale-105 transition p-2"
  href="mailto:leonardo.cueto.trabajo@gmail.com"
>
  <IconMail color="white" size="25"/>
</a>
